{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>D3 Graphic</title>
    <link rel="stylesheet" href="{% static '_/base.css'  %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <div class="container">
      <h2>D3 Graph</h2>
      <section id="chart">
          <div class = "item">Me 01</div>
          <div class = "item">you 02</div>
          <div class = "item">she 03</div>
          <div class = "item">he 04</div>
          <div class = "item">her  05</div>
          <div class = "item">him 06</div>
      </section>
    <div>
    <script src="{% static '_/d3.min.js'  %}"></script>
    <script src="{% static 'script.js'  %}"></script>
  </body>
  </html>
